<!DOCTYPE html>
<!--_____  ____   ____  _______   ____  ____   
   |_   _||_  _| |_  _||_   __ \ |_  _||_  _|  
     | |    \ \   / /    | |__) |  \ \  / /    
     | |     \ \ / /     |  __ /    \ \/ /     
    _| |_     \ ' /     _| |  \ \_  _|  |_     
   |_____|     \_/     |____| |___||______|
  Created by i1470s#0396 Welcome :)-->
<html lang="en">
<head>
    <Title>I V R Y - Services</title>
    <!-- REQS -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="https://ivry.tk/data/images/icon.png">
    <link rel="manifest" href="https://ivry.tk/manifest.json"/>
    <meta name="theme-color" content="#222"/>
    <link rel="stylesheet" href="https://ivry.tk/data/css/styles.css">
    <script async src="https://ivry.tk/js/app.js"></script>
    <link rel="mask-icon" href="https://ivry.tk/data/images/icon.png" color="#222">
    <meta name="msapplication-TileColor" content="#222">
    <meta name="viewport" content="user-scalable=no, initial-scale=-5, maximum-scale=-5, minimum-scale=-10, width=900px <% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <!-- ios support -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar" content="#222" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="IVRY">
    <link rel="apple-touch-icon" href="https://ivry.tk/data/images/icon.png">
    <!-- ios splash screens -->
    <link rel="apple-touch-startup-image" href="https://ivry.tk/data/images/icon-2048.png" sizes="2048x2732" />
    <link rel="apple-touch-startup-image" href="https://ivry.tk/data/images/icon-1668.png" sizes="1668x2224" />
    <link rel="apple-touch-startup-image" href="https://ivry.tk/data/images/icon-1536.png" sizes="1536x2048" />
    <link rel="apple-touch-startup-image" href="https://ivry.tk/data/images/icon-1125.png" sizes="1125x2436" />
    <link rel="apple-touch-startup-image" href="https://ivry.tk/data/images/icon-1242.png" sizes="1242x2208" />
    <link rel="apple-touch-startup-image" href="https://ivry.tk/data/images/icon-750.png" sizes="750x1334" />
    <link rel="apple-touch-startup-image" href="https://ivry.tk/data/images/icon-640.png" sizes="640x1136" />
    <meta name="Description" content="Services Page">
</head>
        
<body>
    
    <!--HEADER-->

        <div id="header" class="head">
            <a href="https://ivry.tk/"><img width=256px height=41px alt="IVRY Logo" class="logo" src="https://ivry.tk/data/images/icon.png"/></a>
                    
            <h3 style="float: right;"><a class=header href="https://ivry.tk/">Home</a>  
                    
            <a class=header href="https://ivry.tk/services">Services</a>  
                
            <a class=header href="https://ivry.tk/tutorials">Tutorials</a>  
                
            <a class=header href="https://ivry.tk/shop">Shop</a></h3>
        </div>

    <div id="page">
        <div id="content">

            <!--PAGE LIST-->

            <div id="list" class="container">  
                <center><h2 class="header">Services</h2></center>
                <center><h3 class="header">Welcome User</h3></center>    
                <center><h3 class="list-s">About Us<p>Welcome to IVRY we are a small group of coders, creating new projects everyday! our team is for hire mainly in web development, more info on that in our store. </p></h3></center>
                    <br>
                    <div>
                        <center><h4 class="header">IVRY Projects</h4></center>
                        <br>
                        <h3 class=list-ss <p>IVRY MC Server</p> <p>Version - 1.16.4</p> <p style="color: grey;">Offline</p> <a class="button" href="https://minecraftservers.org/server/599589"><p>Join</p></a> </h3> 
                        <div><h3 class=list-ss <p>IVRY Bot</p> <p>Version - 2.7</p> <p style="color: greenyellow;">Online</p> <a class="button" href="https://discord.com/api/oauth2/authorize?client_id=764424676256514081&permissions=8&scope=bot"><p>Invite</p></a> </h3></div>  
                        <h3 class=list-ss <p>IVRY API</p> <p>Version - 1</p> <p style="color: greenyellow;">Online</p> <a class="button" href="content/api/v1/endpoints.json"><p>Endpoints</p></a> </h3>  
                        <div><h3 class=list-ss <p>Kahoot Bot</p> <p>Version - 1</p> <p style="color: red;">Discontinued</p> <a class="button" href="https://github.com/i1470s/Kahoot-Bot"><p>View</p></a> </h3></div>  
                        <h3 class=list-ss <p>Amoung Us Cheats</p> <p>Version - 1</p> <p style="color: red;">Discontinued</p> <a class="button" href="https://github.com/i1470s/Among-Us-Cheats"><p>View</p></a> </h3>
                        <div><h3 class=list-ss <p>IVRY Injector</p> <p>Version - 1.2</p> <p style="color: red;">Discontinued</p> <a class="button" href="https://github.com/i1470s/IVRY-Injector"><p>View</p></a> </h3></div>   
                        <h3 class=list-ss <p>Spam Bot</p> <p>Version - 1.5</p> <p style="color: red;">Discontinued</p> <a class="button" href="https://github.com/i1470s/Spam-Bot"><p>View</p></a> </h3>
                    </div>
            </div>
        </div>
    </div>

    <!--FOOTER-->

        <footer>
            <div id="footer" class="footer">
                <h4><a class="header" href="https://ivry.tk/data/policies/Copyright.json"><p>Copyright</p></a> <a class="header" href="https://ivry.tk/data/policies/PrivacyPolicy.json"><p>Privacy Policy</p></a> <a class="header" href="https://ivry.tk/data/policies/TAC.json"><p>Terms and Conditions</p></a></h4>
                <h3>IVRY 2021 All Rights Reserved</h3>
            </div>
        </footer>

</body>
</html>