/*_____  ____   ____  _______   ____  ____   
 |_   _||_  _| |_  _||_   __ \ |_  _||_  _|  
   | |    \ \   / /    | |__) |  \ \  / /    
   | |     \ \ / /     |  __ /    \ \/ /     
  _| |_     \ ' /     _| |  \ \_  _|  |_     
 |_____|     \_/     |____| |___||______|
  Created by i1470s#0396 Welcome :)*/

/****** MAIN CONTENT *********/

html{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}

body{
    letter-spacing: 0.1px;
    font-family: 'Share Tech Mono', 'Monospace', 'Courier';
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    padding: 0; 
    margin: 0;
    background: #222;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

footer{
    justify-content: space-between;
    display: flex;
    max-width: 880px;
    min-width: 880px;
    height: -150px;
    background-color: #222;
    color: #c8c8c8c8;
    bottom: 0;
    margin: 0 auto;
    padding: 0px;
    margin-top: 50px;
    box-sizing: border-box;
    border-top: solid 4px #fb5804;
}

.logo{
    width: 41px;
    margin: auto;
    margin-top: 20px;
}

.head{
    justify-content: space-between;
    display: flex;
    max-width: 880px;
    min-width: 880px;
    background-color: #222;
    height: 80px;
    border: 1px;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: solid 4px #fb5804;
}

.container{
    position: relative;
    max-width: 900px;
    min-width: 880px;
    height: 1750px;
    border: 1px;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}
  
.header {
    color: #C0C0C0;
    text-decoration:none
  
}
  
a:hover {
    color: #fb5804;
    text-decoration:none
  
}

a:active {
    color: #C0C0C0;
  
}

/****** SCROLL BAR *********/

::-webkit-scrollbar {
    width: 0px;
    height: 13px; 
}

::-webkit-scrollbar:hover {
    height: 18px; 
}

/****** LISTS, BUTTONS ETC *********/

.list{
    float: right;
    border-radius: 0px;
    background: #2E2E2E;
    padding: 1%;
    width: 240px;
    height: 368px;
    text-align: center;
    margin: 1%;
}

.list-h{
    float: left;
    border-radius: 0px;
    background: #2E2E2E;
    padding: 1%;
    width: 565px;
    height: 370px;
    text-align: center;
    margin: 1%;
}

.list-ss{
    float: right;
    border-radius: 0px;
    background: #2E2E2E;
    padding: 1%;
    width: 29.33%;
    height: 190px;
    text-align: center;
    margin: 1%;
}

.feed{
    float: left;
    border-radius: 0px;
    background: #2E2E2E;
    align-items: center;
    padding: 1%;
    width: 565px;
    height: 30px;
    text-align: center;
    margin: 1%;
}

.list-shop{
    float: left;
    border-radius: 0px;
    background: #2E2E2E;
    padding: 1%;
    width: 29.33%;
    height: 275px;
    text-align: center;
    margin: 1%;
}

.list-empty{
    float: right;
    border-radius: 0px;
    background: #222;
    padding: 1%;
    width: 29.33%;
    height: 190px;
    text-align: center;
    margin: 1%;
}
  
.button {
    color: #C0C0C0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;  
    width: 160px;
    height: 55px;
    background: #222;
    border-radius: 40px;
    border: none;
    outline: 0;
}

.clear{
    float: right;
    border-radius: 0px;
    background: #222;
    padding: 1%;
    width: 900px;
    height: 2.5px;
    text-align: center;
    margin: 0%;
}
